{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <div style="margin-top: 5px;">
            <img class="mb-4" src="{{ url_for('logo')}}" alt="Logo">
        </div>
            <h1 class="h3 mb-3 font-weight-normal">
                Por favor, efetuar o Login
            </h1>
            <br>
            <div class= "text-left">
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="Usuário") }}

                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Senha") }}
            </div>
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}