<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='bootstrap/css/bootstrap.css') }}" crossorigin="anonymous" >
    <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='css/style.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='css/menu.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for ('static', filename='css/conteudo.css') }}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body class="base">
    <header class="cabecalho">
        <div class="menu">
            <div class="menu__logo" >
                <img src="./static/img/logo_barra.png">
            </div>
            {% if current_user.is_authenticated %}
            <div class="menu__login_logout">
                        <a>Bem-vindo(a) {{ current_user.username.title() }} </a>
                        <a class="link" href="{{ url_for('logout') }}">Logout</a>
            </div>
            <div class="menu__navegacao">
                <a class="link" href="{{ url_for('estoque_page') }}">Estoque </a>
                <a class="link" href="{{ url_for('register_fornecedor') }}">Fornecedores</a>
                <a class="link" href="{{ url_for('mostrar_tela_de_cadastro_do_produto') }}">Cadastrar Produto</a>
                <a class="link" href="{{ url_for('cadastrar_marca') }}">Marcas</a>
                <a> Relatórios de Vendas</a>
            </div>
            <div class="menu__busca">
                <div>
                    <input type="search">
                </div>
                <div>
                    <button type="button">Buscar</button>
                </div>
            </div>
            {% else %}
            <div class="menu__login_logout">
                <a>Efetue o Login ---> </a>
                <a class="link" href="{{ url_for('login') }}">Logout</a>
            </div>
            {%endif%}
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock %}
</body>
</html>
