body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row.botoes{
    column-gap:10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.pagination{
    align-items:flex-end;
    display: flex;
    justify-content: center;
}
.rotulo{
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
a.page-link{
    color: #132c33 ;
    font-size: 15px;
    background-color: #fff;
    border-color:  #dee2e6;
    background-image: linear-gradient(#dae3e7, #1d88b9 );
}
.page-item.disabled .page-link{
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color:  #dee2e6;
    background-image: linear-gradient(#dae3e7, #1d88b9 );
}
#li_pequena{
    display: none;
}
#movimentacao{
    width: 250px;
    }
 @media screen and (max-width: 1365px) {
        #coluna3 {
            display:none;
        }
        .genero{
            display:none;
        }
    }
    @media screen and (max-width: 1215px) {
        #coluna2{
            display:none;
        }
        .modelo{
            display: none;
        }
    }
    @media screen and (max-width: 1095px) {
        #coluna4{
            display: none;
        }
        .ano{
            display: none;
        }
    }
    @media screen and (max-width: 915px) {
        #coluna5, #coluna6{
            display: none;
        }
        .material, .cor{
            display: none;
        }
    }
    @media screen and (max-width: 741px) {
        #coluna10, #coluna9{
            display: none;
        }
        .marca, .tamanho{
            display: none;
        }
    }




