{% extends 'base.html' %}
{% block title %}
    Cadastramento de Marca
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <div style="margin-top: 5px;">            
            <img src="{{ url_for('static', filename = 'logo2.png') }}"/>
        </div>
            <h1 class="h3 mb-3 font-weight-normal">
                Cadastramento de Marcas
            </h1>
            <br>
            <div class= "text-left">
                {{ form.nome.label() }}
                {{ form.nome(class="form-control") }}

                {{ form.fornecedor.label() }}
                {{ form.fornecedor(class="form-control", placeholder="Fornecedor da Marca") }}
            </div>
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}