{% extends 'base.html' %}

    {% block title %}
        Cadastramento do Tipo do Produto
    {% endblock %}

    {% block content %}
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-register" style="color:#5b0e2d">
                {{ form.hidden_tag() }}
                <div style="margin-top: 5px;">
                    <img src="{{ url_for('static', filename = 'logo2.png') }}"/>
                </div>
                    <h1 class="h3 mb-3 font-weight-normal">
                        Cadastramento do Tipo do Produto
                    </h1>
                <div class="text-left">

                {{form.id.label(style="font-size:25px")}}
                {{form.id(class="form-control", placeholder="Código do Tipo")}}

                {{form.descricao.label(style="font-size:25px")}}
                {{form.descricao(class="form-control", placeholder="Descrição do tipo do produto")}}
                
                {{form.material.label(style="font-size:25px")}}
                {{form.material(class="form-control", placeholder="Material de Fabricação")}}
               
                {{form.modelo.label(style="font-size:25px")}}
                {{form.modelo(class="form-control", placeholder="Gola V, Manga Longa, Cintura Alta, etc...")}}

                {{form.ano_colecao.label(style="font-size:25px")}}
                {{form.ano_colecao(class="form-control", placeholder="Ano da Coleção XXXX")}}
                
                <br>
                {{form.submit(class="btn btn-lg btn-block btn-primary")}}                    
                </div>
            </form>
        </div>
    </body>
    {% endblock %}