{% extends 'base.html' %}
{% block title %}
    Cadastramento de Marca
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color: #5b0e2d">
            {{ form.hidden_tag() }}
            <div style="margin-top: 5px;">
            <img class="mb-4" src="{{ url_for('logo')}}" alt="Logo">
        </div>
            <h1 class="h3 mb-3 font-weight-normal">
                Cadastramento de Marcas
            </h1>
            <br>
            <div class= "text-left">
                {{ form.nome.label(style="font-size:25px") }}
                {{ form.nome(class="form-control",style="background-color: #ffc6ba", placeholder="Marca") }}

                {{ form.fornecedor.label(style="font-size:25px") }}
                {{ form.fornecedor(class="form-control", style="background-color: #ffc6ba",placeholder="Fornecedor da Marca") }}
            </div>
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}