{% extends 'base.html' %}

    {% block title %}
        Cadastramento de Produtos
    {% endblock %}

    {% block content %}
    <body class="text-center">
        <div style="margin-top: 5px;" class="text-center">
            <img src="{{ url_for('static', filename = 'logo2.png') }}"/>
        </div>
        <h1 class="h3 mb-3 font-weight-normal" class="text-center">
            Cadastramento de Produto
        </h1>

        <form method="POST" class="form-register" style="color:#5b0e2d">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col">
                    {{form.tipo.label(class='label')}}
                    {{form.tipo(class="form-control", placeholder="Tipo")}}
                </div>
                <div class="col">
                    {{form.descricao.label(class='label')}}
                    {{form.descricao(class="form-control", placeholder="")}}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                {{form.modelo.label(class='label')}}
                {{form.modelo(class="form-control", placeholder="")}}
                </div>
                <div class="col">
                {{form.ano_colecao.label(class='label')}}
                {{form.ano_colecao(class="form-control", placeholder="")}}
                </div>                

                <div class="col">
                {{form.material.label(class='label')}}
                {{form.material(class="form-control", placeholder="")}}
                </div>

                <div class="col">
                {{form.cor.label(class='label')}}
                {{form.cor(class="form-control", placeholder="")}}
                </div>


                <div class="col">
                {{form.preco.label(class='label')}}
                {{form.preco(class="form-control", placeholder="")}}
                </div>
                <div class="col">
                {{form.quantidade.label(class='label')}}
                {{form.quantidade(class="form-control", placeholder="")}}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{form.tamanho.label(class='label')}}
                    {{form.tamanho(class="form-control", placeholder="Tamanho")}}
                </div>      
                <div class="col">
                    {{form.marca.label(class='label')}}
                    {{form.marca(class="form-control", placeholder="Marca")}}
                </div>
            </div>
                   
                {{form.submit(class="btn btn-primary")}}                    

        </form>

  
    </body>
    {% endblock %}