{% extends 'base.html' %}
{% block title %}
    Estoque ForU
{% endblock %}
{% block content%}
<div class="row" style="margin-top:20px; margin-left: 20px;">
    <div class="col-12">
        <table class="table table-hover" style="background-color: #ffa781">
            <tbody>
                <form method="POST" class="form-control">
                    {{ form.hidden_tag() }}
                    <td>
                        {{form.consulta.label()}}
                        {{form.consulta(class="form-control", placeholder="Consulta")}}
                    </td>
                    <td>
                        <br>
                        {{form.submit(class="btn btn-lg btn-block btn-primary", style="width:150px")}}
                    </td>
                    <td>
                        &nbsp;                 
                    </td>
                
            </tbody>
        </table>
    </form>
    </div>
</div>
    <div class="row" style="margin-top:20px; margin-left: 20px;">
        <div class="col-12">
            <h2>Itens disponíveis no estoque.</h2>
            <p>Clique no item para verificar a situação em estoque.</p>
            <br>
            <table class="table table-hover" style="background-color: #ffa781">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">ID</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Ano da Coleção</th>
                        <th scope="col">Material</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Tamanho</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for produto in resultado %}
                    {% include 'includes/produtos_modals.html' %}
                        <tr>
                            <td>{{produto.id }}</td>
                            <td>{{produto.tipo }}</td>
                            <td>{{produto.descricao }}</td>
                            <td>{{produto.modelo }}</td>
                            <td>{{produto.ano_colecao }}</td>
                            <td>{{produto.material }}</td>
                            <td>{{produto.preco }}</td>
                            <td>{{produto.tamanho }}</td>
                            <td>
                                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ resultado.id }}"> Mais Informações</button>
                                <button class="btn btn-outline btn-success">Consultar este produto</button>
                            </td>
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}