{% extends 'base.html' %}
{% block title %}
    Estoque ForU
{% endblock %}
{% block content%}

<div class="row botoes pt-3 pb-3">
    <div class="col">
        <button type="buuton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Modal_Cadastramento_Fornecedor">
            Cadastrar Fornecedor
        </button>
        <a href="{{url_for('mostra_lista_de_fornecedores_inativos')}}">            
            <button type="button" class="btn btn-danger btn-lg">Inativos</button>
        </a>
    </div>
</div>

<div class="row text-center pt-3 pb-3 border-top border-bot" >
    <h3 style="font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-style: italic;">Fornecedores Ativos</h3>
</div>   
<div class="row" id="tabela"> 
    <div class="col border-top border-bot">
        <table class="table table-striped" id="tabela_estoque">
            <thead>
                <tr class="fs-5">
                    {% for coluna in ['Fornecedor', 'E-mail', 'Telefone', 'CNPJ'] %}
                    <th scope="col border"> <strong>{{ coluna }}</strong></th>
                    {% endfor %}
                    <th scope="col border"> <strong> Opções </strong></th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for fornecedor in fornecedores.items %}
                <tr>
                    <td>{{fornecedor.name.title() }}</td>
                    <td>{{fornecedor.email}}</td>
                    <td>{{(fornecedor.fone | formatar_telefone)}}</td>
                    <td>{{(fornecedor.cnpj | formatar_cnpj) }}</td>
                    <td>
                        {% include 'includes/fornecedores_modals.html'%}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_Atualizacao_Fornecedor-{{fornecedor.id}}" title="Atualiza Fornecedor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                            </svg>
                        </button> 
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal_Listar_Marcas-{{fornecedor.id}}" title="Listar Marcas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal-ExclusaoFornecedor-{{ fornecedor.id }}" title="Deletar Marca">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>    
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>                                                
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if fornecedores.has_prev %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('mostra_lista_de_fornecedores', pagina=fornecedores.prev_num) }}">
                        Anterior
                    </a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                {% endif%}

                {% for page in fornecedores.iter_pages(left_edge=3, right_edge=3) %}
                {% if page %}
                    <li class="page-item"><a class="page-link active" href="{{ url_for('mostra_lista_de_fornecedores', pagina=page) }}">
                        {{ page }}
                    </a></li>
                {% else %}
                    <li class="page-item disabled" id="exemple_ellipsis"><a class="page-link" href="#">..</a></li>
                {% endif%}
                {%endfor%}
                {% if fornecedores.has_next %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('mostra_lista_de_fornecedores', pagina=fornecedores.next_num) }}">
                        Próxima
                    </a> </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Próxima</span></li>
                {% endif%}
                <ul class="pagination">
                    <li class="page-item disabled" id="li_pequena"><span class="page-link">Itens {{quantidade}}</span></li>
                    <li class="page-item disabled" id="li_grande"><span class="page-link">Qtde de itens encontrados {{quantidade}}</span></li>
                </ul>
            </ul>
        </nav>
    </div>
</div>

<style>
    @media screen and (max-width: 556px) {
        #li_grande{
            display: none;
        }
        #li_pequena{
            display: flex;
        }
        button {
            width: 100%;
            height: auto;
            position: relative;
        }
    }
    @media screen and (max-width: 700px){
        .row.botes.col{
            width: 100%;
            height: auto;
            position: relative;

        }
    }
</style>
    
{% endblock %}
            