{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body>   
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="text-center pb-2">
                <img src="{{ url_for('static', filename='img/logo_ForU_Login.png') }}">
            </div>
            <h1 class="h3 mb-3 font-weight-normal text-center pb-2">
                Por favor, efetuar o Login
            </h1>
        </div>
        <form method="POST" class="form-signing">
            <div class="col-md-2 offset-md-5">
                {{ form.hidden_tag() }}
                    {{ form.username.label() }}
                    {{ form.username(class="form-control") }}
                    {{ form.password.label() }}
                    {{ form.password(class="form-control") }}
                    <div class="text-end pt-3">
                        {{ form.submit(class="btn btn-lg btn-primary" ) }}
                    </div>
            </div>
        </form>
    </div>

</body>
{% endblock %}