{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="container-fluid">   

    
        <form method="POST" class="form-signing" style="margin-bottom: 90px; margin-top: 150px">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal text-center">
            Por favor, efetuar o Login
        </h1>
            <br>
        <div style="width: 180px">
            {{ form.username.label(style="font-size:13px") }}
            {{ form.username(class="form-control") }}
            <br>
            <br>
            {{ form.password.label(style="font-size:13px") }}
            {{ form.password(class="form-control") }}
            <br>
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary" ) }}
        </div>
        </form>     

</body>
{% endblock %}