{% extends 'base.html' %}

    {% block title %}
        Register
    {% endblock %}

    {% block content %}
    <body class="text-center">

        <div class="container">
            <form method="POST" class="form-register" style="color: #5b0e2d">
                {{ form.hidden_tag() }}
                <div style="margin-top: 5px;">
                    <img class="mb-4" src="{{ url_for('logo')}}" alt="Logo">
                </div>
                    <h1 class="h3 mb-3 font-weight-normal">
                        Cadastramento de fornecedores
                    </h1>
                <div class="text-left">

                {{form.id.label(style="font-size:25px")}}
                {{form.id(class="form-control", placeholder="Código do Fornecedor")}}

                {{form.name.label(style="font-size:25px")}}
                {{form.name(class="form-control", placeholder="Nome do Fornecedor")}}
                
                {{form.email.label(style="font-size:25px")}}
                {{form.email(class="form-control", placeholder="E-mail")}}
               
                {{form.fone.label(style="font-size:25px")}}
                {{form.fone(class="form-control", placeholder="Telefone")}}

                {{form.cnpj.label(style="font-size:25px")}}
                {{form.cnpj(class="form-control", placeholder="CNPJ")}}
                
                <br>
                {{form.submit(class="btn btn-lg btn-block btn-primary")}}                    
                </div>
            </form>
        </div>
    </body>
    {% endblock %}