{% extends 'base.html' %}
{% block title %}
    Estoque ForU
{% endblock %}
{% block content%}

<div class="row pt-5">
    <div = class="col-md-6">
    <form class="row g-3" action="./registra_saida_produto" method="POST">
        <input type="hidden" name="produto" value="{{id_produto}}">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="produto" class="form-label fw-bold fs-4">Descrição do Produto</label>
                    <input type="text" class="form-control" name="produto" value="{{produto.descricao.title()}}">
                </div>
                <div class="col-md-3">
                    <label for="produto" class="form-label fw-bold fs-4">Ano da Coleção</label>
                    <input type="text" class="form-control" name="ano_colecao" value="{{produto.ano_colecao}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="categoria" class="form-label fw-bold fs-4">Categoria</label>
                    <input type="text" class="form-control" name="categoria" value="{{produto.categoria.descricao.title()}}">
                </div>
                <div class="col-md-3">
                    <label for="modelo" class="form-label fw-bold fs-4">Modelo</label>
                    <input type="text" class="form-control" name="modelo" value="{{produto.modelo.title()}}">
                </div>
                <div class="col-md-3">
                    <label for="genero" class="form-label fw-bold fs-4">Gênero</label>
                    <input type="text" class="form-control" name="genero" value="{{produto.genero.title()}}">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
                    <label for="material" class="form-label fw-bold fs-4">Material</label>
                    <input type="text" class="form-control" name="material" value="{{produto.material.descricao.title()}}">
                </div>
                <div class="col-md-3">
                    <label for="cor" class="form-label fw-bold fs-4">Cor</label>
                    <input type="text" class="form-control" name="cor" value="{{produto.cor.title()}}">
                </div>
                <div class="col-md-3">
                    <label for="marca" class="form-label fw-bold fs-4">Marca</label>
                    <input type="text" class="form-control" name="marca" value="{{produto.marca.nome.title()}}">
                </div>                
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <label for="quantidade" class="form-label fw-bold fs-4">Quantidade Atual</label>
                    <input type="text" class="form-control" name="quantidade_atual" value="{{produto.quantidade}}" disabled>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <label for="quantidade" class="form-label fw-bold fs-4">Quantidade da Saída</label>
                    <input type="text" class="form-control" name="quantidade_saida">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="preco" class="form-label fw-bold fs-4">Preço</label>
            <input type="text" class="form-control" name="preco" value="{{(produto.preco | formatar_moeda )}}">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-danger fw-bold fs-4">Saída</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
    </div>
</div>


{% endblock %}